* {
  margin: 0;
  padding: 0;
}

ul, li, a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  
}

a {
  cursor: pointer;
}



.wrap {
  width: 100%;
  margin: 0 auto;
}


/* top-banner-wrap */

.top-banner-wrap {
  position: relative;
  width: 100%;
}

.top-banner {
  width: 100%;
  height: 80px;
  display: block;
  background:#eb0225 url('https://ccdn.lezhin.com/v2/inventory_items/4984309078622208/media/topBanner.webp') no-repeat top center;
  background-size: 1180px;
}

.content-warp {
  width: 1004px;
  display: block;
  margin: 0 auto;
}


/* .top-menu */

.top-menu {
  width: 100%;
  padding: 0 16px;
  border-top: 24px solid #fff;
  border-bottom: 24px solid #fff;
  height: 64px;
  display: flex;
}

.gnb-logo {
  float: left;
  width: 64px;
  height: 64px;
  line-height: 64px;
  background: #ed1c24;
  padding: 20px;
  box-sizing: border-box;
  
}

.gnb-logo::after {
  width: 27px;
  height: 29px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: url('https://ccdn.lezhin.com/files/assets/img/jaymee.svg') no-repeat center/contain;
  margin-top: -40px;
}

.top-menu ul {
  margin-left: 48px;
  padding: 0 8px;
}

.top-menu ul, .top-menu li {
  display: flex;
  align-items: center;
  position: relative;
  
}

.top-menu li {
  margin-right: 28px;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.top-menu li:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 1.3rem;
  left: 0;
}

.top-menu .adult-menu {
  position: relative;
}

.top-menu .adult-menu::after {
  content: '19+';
  position: absolute;
  top: -6px;
  left: 49px;
  font-size: 4px;
  color: #ed1c24;
  font-weight: 600;
  transform: scale(0.8);
}

.top-menu .sale-menu {
  position: relative;
}

.top-menu .sale-menu::after {
  content: 'up';
  position: absolute;
  top: -8px;
  left: 32px;
  font-size: 4px;
  color: white;
  background: #ed1c24;
  font-weight: 600;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
}

/* content-main-slick */

.content-main-slick {
  width: 1004px;
  margin: 0 auto;
  position: relative;
}

/* slick1 */

.slick1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.slick1 .slide img {
  width: 100%;
}

.slick1 .slick-dots {
  bottom: 40px !important;
}

.content-main-slick2 {
  width: 1004px;
  margin: 0 auto;
  position: relative;
}



/* Custom Arrow slick */ 

.content-main-slick .pager {
  position: absolute;
  top: 48%;
  width: 1004px;
  display: flex;
  justify-content: space-between;
}

.content-main-slick .prev {
  width:30px;
  height:30px;
  background:black;
}
.content-main-slick .arrow {
  z-index: 5;
    box-sizing: border-box;
    width: 54px;
    height: 54px;
    padding: 54px 0 0;
    overflow: hidden;
    background: url('https://ccdn.lezhin.com/files/assets/img/hero_arrow.png') no-repeat;
    background-size: auto 100%;
    border: 1px;
    opacity: 1;
    /* transition: opacity .5s; */
    margin: 0 20px;
}

.content-main-slick .prev {
  left: 32px;
  background-position: -54px 0;
}

p.title {
  font-size: 20px;
  font-weight: 500;
}

/* content-main-slick2 */

.content-main-slick2 {
  width: 100%;
  margin-top: 16px;
}

.content-main-slick2 .slide {
  margin-right: 16px;
  box-sizing: border-box;
  display: flex;
}


.content-main-slick2 .new-wrap-image {
  width: 100%;
  height: 316px;
  background-size: 100% !important;
}
.content-main-slick2 p {
  width: 90%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  margin: 16px 0;
}

/* slick2 */

.slick2 {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: -16px;
}

.slick2 .slide img {
  width: 100%;
}




/* content-main-lanking */

.content-main-lanking p.title-s {
  font-size: 16px;
  font-weight: 500;
}


.content-main-lanking .category {
  display: flex;
  margin-top: 24px;
}


.content-main-lanking .category li {
  background: #eff1f4;
  color: #000;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 50px;
}

.content-main-lanking .category li.on {
  color: white;
  background: #eb0026;
}




/* content-main-lanking reult-wrap */

.result-wrap {
  display: flex;
}

.result-wrap .result {
  margin-top: 24px;
  width: 30%;
  margin-right: 5%;
}

.result-wrap .result:last-child {
  margin-right: 0;
}

.title-s-wrap {
  display: flex;
  justify-content: space-between;
}

.title-s-wrap .more {
  margin-right: 10px;
  font-size: 0.9rem;
  color: #5A719A;
}


.result-wrap .result ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 24px;
}

.result-wrap .result ul li {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.result-wrap .result ul li img {
  width: 84px;
  height: 84px;
}

.result-wrap .result .num-wrap {
  margin: 1rem;
  text-align: center;
}

.result-wrap .result .num-wrap .num {
  font-size: 1.2rem;
  font-weight: bold;
}

.result-wrap .result .num-wrap .plusminus {
  font-size: 0.8rem;
  color: #eb0026;
}

/* new-title-wrap */

.new-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-title-wrap ul {
  display: flex;
}

.new-title-wrap ul li {
  margin-left: -1px;
}


/* title-arrow */

.title-arrow {
  display: block;
  width: 36px;
  height: 36px;
  border: 1px solid #dbdee3;
  line-height: 36px;
  text-align: center;
  position: relative;
}

.title-prev {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.title-next {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.title-prev::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  margin: auto 0;
  width: 7px;
  height: 7px;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.title-next::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 13px;
  margin: auto 0;
  width: 7px;
  height: 7px;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.disabled::after {
  border-color: #dbdee3;
}



/* new-wrap */

.new-wrap {
  margin-top: 14px;
  display: flex;
}

.new-wrap li {
  width: 25%;
  padding-right: 16px;
}

.new-wrap li:last-child {
  padding-right: 0;
}

.new-wrap li .new-wrap-image {
  width: 100%;
  height: 316px;
  background-size: 100% !important;
}
.new-wrap li p {
  width: 90%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  margin: 16px 0;
}




.content-main {
  margin-top: 24px;
}


/* new-comic-wrap */

.new-comic-wrap {
  margin-top: 14px;
  display: flex;
}

.new-comic-wrap li {
  width: calc(100%/6);
  padding-right: 16px;
}

.new-comic-wrap li:last-child {
  padding-right: 0;
}

.new-comic-wrap li .new-wrap-image {
  width: 100%;
  height: 200px;
  background-size: 100% !important;
}
.new-comic-wrap li p {
  width: 90%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  margin: 16px 0;
}


/* content-main-new */

.content-main-new .pager {
  display: flex;
}

.content-main-new .pager .title-arrow {
  display: block;
  width: 36px;
  height: 36px;
  border: 1px solid #dbdee3;
  line-height: 36px;
  text-align: center;
  position: relative;
}

.content-main-new .pager .prev {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.content-main-new .pager .next {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.content-main-new .pager .prev::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  margin: auto 0;
  width: 7px;
  height: 7px;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.content-main-new .pager .next::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 13px;
  margin: auto 0;
  width: 7px;
  height: 7px;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}